.maxWidth {
    max-width: 68%;
    margin: 0 auto;
    color: 	#484848;
}

.maxWidthTopBottom {
    margin: 35vh 0 30vh 0;
}


.TextBlock{
    position: relative;
    display: block;
    overflow: hidden;
}

.textColor {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 150%;
    font-size: 3.5em;
}
.newtextColor {
    font-size: 2em;
}


.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:30px;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.skillname {
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    margin: 30px 0;
}

.skillbar {
    height: 14px;
    background:	#484848;
    border-radius: 3px;
}

.skillper{
    height: 14px;
    background-color: lightsalmon;
    border-radius: 3px;
    position: relative;
}

.skillperAnimate {
    animation: animationbars 2.5s 1;
}


.skillper::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: deeppink;
    border-radius: 4px;
    font-size: 10px;
    top: -25px;
    right: 0;
    transform: translateX(50%);
}

.skillper::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: deeppink;
    top: -12px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes animationbars{
 from {
    width: 0;
 }
 to {
    width: 100%;
 }
}


.hobies {
    margin-top: 100px;
}

.mainflip{
    margin-top: 30px;
    display: grid;
    background-color: transparent;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:30px;
}

.flipcard {
    width: 300px;
    height: 300px;
    perspective: 1000px;
  
}

.flipcardinner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flipcard:hover .flipcardinner {
    transform: rotateY(180deg);
  }


img {
    mix-blend-mode: multiply;
}

.flipcardfront, .flipcardback {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    outline: none;
    border-radius: 15px;
    box-shadow: 9px 9px 9px 9px #999;
  }

  .flipcardfront {
    background-color: whitesmoke;
    border: 1px solid black;
  }

  .flipcardback  {
    background-color: gray;
    color: whitesmoke;
    transform: rotateY(180deg);
  }