
.MainBox {
    max-width: 50em;
    margin: 0 auto;

    }

    .FElement{
        position: absolute;
        height: 100%;
        width: 100px;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }


    h1 {
        color: aliceblue;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        line-height: 110%;
        letter-spacing: -2px;
        font-size: 3.2em;
        font-size: 15vm;
        font-size: 15vmin;
    }
    .NavLink {
        text-decoration: none;
        color: white;
    }

    // .BElement {
    //     position: relative;
    //     display: block;
    //     overflow: hidden;
    // }

    .box {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .BElement1{
        position: absolute;
    }

    .BElement2 {
        opacity: 0;
    }


    .BElement1, .BElement2 {
        transition: all 0.5s ease;
    }

    .box:hover .BElement1 {
        opacity: 0;
    }

    .box:hover .BElement2 {
        opacity: 1;
        margin-left: 20%;
    }


    #IDBElement1{
        color: white;
        transition-duration: 1s;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    #IDBElement2{
        color: white;
        visibility: hidden;
        transition-duration: 1s;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
    }

    #IDBElement3{
        color: white;
        visibility: hidden;
        transition-duration: 1s;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    #IDBElement1:hover > #IDBElement2 {
                color: blue;
        }
   



    
    @keyframes fadeIn {
        from {
            margin-left: -200%;
            visibility: visible;
        }
        to {
            margin-left: 0%;/* added */
            visibility: visible;
        }
    }






